extends layout

block content
  .timeline
    if user
      div
        form#twit-form(action='/post' method='post' enctype='multipart/form-data')
          .input-group
            textarea#twit(name='content' maxlength=140)
          .img-preview
            img#img-preview(src='' style='display: none;' width='250' alt='미리보기')
            input#img-url(type='hidden' name='url')
            input#img-prev(type='hidden')
          div
            label#img-label(for='img') Image Upload
            input#img(type='file' accept='image/*')
            button#twit-btn.btn(type='submit') Flight
    .twits
      form#hashtag-form(action='/post/hashtag')
        input(type='text' name='hashtag' placeholder='태그 검색')
        button.btn HashTag Flight
      for twit in twits
        .twit
          input.twit-user-id(type='hidden' value=twit.User.id)
          // 게시글 id
          input.twit-id(type='hidden' value=twit.id)
          .twit-author=twit.User.nick
          -const follow = user && user.Follow_Followers.map(f => f.id).includes(twit.User.id);
          if user && user.id !== twit.User.id && !follow
            button.twit-follow 팔로우하기
          else if user && user.id !== twit.User.id && follow
            button.twit-unfollow 팔로우끊기
          .twit-content= twit.content
          if twit.img
            .twit-img
              img(src=twit.img alt='섬네일')
          -const like = user && twit && twit.Like_Liker && twit.Like_Liker.map(liker => liker.id).includes(user.id);
          if user && !like
            button.like Like
          else if user && like
            button.unlike Like cancele 
          if user && user.id === twit.User.id
            button.delete 게시글 삭제 
  script(src='/js/fileupload.js')
  script(src='/js/following.js')  
  script(src='/js/like.js')
  script(src='/js/post.js')